@import url('Fonts.css');

body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    height:100%;
}

nav {
    position:fixed;
    background:transparent;
    box-shadow: none;
    z-index: 5; /*makes navbar above the carousel, same hierarchy as sidenav*/
}


.nav-wrapper {
    background: linear-gradient(to bottom, rgba(105, 7, 7, 0.616), rgba(0, 0, 0, 0));
    position:relative;
}

.nb-logo {
    width:25vw;
    height:auto;
    margin-top:-3vh;
    margin-left: 5%;
    z-index:15;
}

.nb-logo:hover{
    transform: scale(1.2);
}

.tabs-wrapper {
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
}
    
.clan-tab {
    display: inline-flex;
    margin: 0;
}

/* Custom scrollbar styles */
.tabs-wrapper::-webkit-scrollbar {
    height: 10px; /* Height of the scrollbar (for horizontal scrolling) */
}

.tabs-wrapper::-webkit-scrollbar-thumb {
    background: #a12727; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners */
}

.tabs-wrapper::-webkit-scrollbar-thumb:hover {
    background: #555; /* Darker color when hovering */
}

.tabs-wrapper::-webkit-scrollbar-track {
    background: #ada5a5; /* Light gray track background */
    border-radius: 10px; /* Rounded corners for the track */
}
    

.clan-tab li {
    font-family: 'Heading', sans-serif;
    text-align: center;
    width:175px;
}

.clan-tab li a{
    color:white;
    font-size: 40px;
    transition: color 0.3s ease, font-size 0.3s ease;
}

.clan-tab li a.lan:hover{
    color:white; 
    font-size: 300%;
    text-shadow: 0 0 10px rgba(0, 119, 255, 0.863);
}

.clan-tab li a.wen:hover{
    color:white; 
    font-size: 300%;
    text-shadow: 0 0 10px crimson;
}

.clan-tab li a.minor:hover{
    color: rgb(255, 255, 255); 
    font-size: 300%;
    text-shadow: 0 0 10px black;
}

.clan-tab li a.nie:hover{
    color:rgba(0, 0, 0, 0.74); 
    font-size: 300%;
    text-shadow: 0 0 10px goldenrod;
}

.clan-tab li a.jiang:hover{
    color:silver; 
    font-size: 300%;
    text-shadow: 0 0 10px purple;
}

.clan-tab li a.jin:hover{
    color:rgb(160, 159, 96); 
    font-size: 300%;
    text-shadow: 0 0 10px yellow;
}

/*SideNav Part*/

.custom-sidenav {
    background-color: #2b2b2b;
    border-right: 2px groove rgb(0, 0, 0); 
    width: 300px; 
    color:white;
}

.sidenav-header {
    background-color:#1f1f1f;
    text-align:center;
    height:auto;
    padding:15px 0px 35px 0px;
}

.sidenav-header .sidenav-title {
    font-family: 'Title', sans-serif;
    transition: color 0.3s ease font-size 0.5s ease;
    font-size:3em;
    line-height:.8;
    margin:0;
    color:white;
    word-wrap:break-word;
    width:100%;
}

.sidenav .sidenav-title:hover {
    color:#a80a0a; 
}

.sidenav .clan-link{
    margin-top:10px;
    margin-bottom: 10px;
}

.sidenav .clan-link:hover{
    background-color: rgb(36, 31, 32);
}

.clan-symbol {
    height: auto;
    width: 40px;
    margin-right: 20px;
    margin-top: 5px;
    margin-left:-10px;
}

.clan-name {
    font-size: 30px;
    color: white;
    text-align: left;
    align-self: center;
    font-family: 'Heading', sans-serif;
}

.sidenav .clan-name:hover  {
    color:#c70202; 
    font-size:35px;
}


.sidenav-trigger {
    position: fixed; 
    top: 15px;       
    left: 20px;      
    z-index: 10;   
    color: white;    
    padding: 10px;   
    border-radius: 50%; 
    display: flex;   /* center icon inside */
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
}





/*--------------------------------------------------------------------------------------------------------*/


.slider {
    height: 100vh; 
    overflow: hidden; /* Ensure no scrollbars */
    position: relative; /* For captions and arrows */
}


.slide-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; 
}


.slides {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    transition: transform 0.5s ease-in-out; /* Smooth transitions for sliding */
}

/* Dark overlay */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);  /* Dark overlay with transparency */
}

/*foreground*/

.slides .caption {
    margin-top: 5vh;
}


.home-title {
    margin-top: 20vh;
}

.home-title h1{
    text-align: center;
    font-family: 'Title', sans-serif;
    font-size: 17vw;
    line-height: .5;
}

.clan-slides h2:hover, .symbol-img:hover {
    transform: scale(1.1);
}

h2 {
    font-size: 5rem;
    font-weight: bold;
    color: white;
}

p {
    font-size: 1.5rem;
    font-family: 'LBody', sans-serif;
}


.slider-prev, .slider-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    z-index: 2; /* Ensures the arrows are on top */
    padding: 10px;
    cursor: pointer;
}


.slider-prev {
    left: 10px; 
}

.slider-next {
    right: 10px; 
}

/*hide dots*/
.slider .indicators {
    display: none;
}

/* Default styles for small screens */
@media (max-width: 600px) {
    .nb-logo{
        margin-top: 0;
    }
    
    .clan-slides {
        display: block; /* Stack the content vertically */
        text-align: center;
    }

    #lanslide h2{
        line-height: .6;
    }

    #wenslide h2{
        line-height: .6;
    }

    #nielide h2{
        line-height: .6;
        margin-top:3%;
        margin-bottom: -5%;
    }

    .symbol-img {
        transform:scale(.7);
        margin:-6.5vh 0 -7vh 0;
    }

    .symbol-img:hover {
        transform:scale(.8);
    }

    .clan-slides h2{
        margin-top:-2%;
        margin-bottom: 10%;
        transform: scale(.8);
    }

    #minorslide h2{
        font-size: 50px;
        line-height: .8;
    }

    .clan-slides p {
        margin-top:-3vh;
        font-size:.75em;
    } 

    .col.s12 {
        width: 100%; /* Ensure full width on small screens */
    }
}